#Data Cleaning

In [152]:
#Import libraries
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [153]:
#Read the data from csv file
sales_prediction_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_predictions.csv')
sales_prediction_df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [154]:
#Check the information of the dataframe
sales_prediction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [155]:
#Check the shape of the dataframe
sales_prediction_df.shape

(8523, 12)

In [156]:
#There are missing and/or null values in columns 'Item_Weight' and 'Outlet_Size'

#Check for duplicates
sales_prediction_df.duplicated().sum()

0

In [157]:
#Extract duplicate rows
sales_prediction_df.loc[sales_prediction_df.duplicated(),:]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [158]:
#Check for the columns with missing data

#'Item_Weight' column:
sales_prediction_df['Item_Weight'].isnull().sum()

1463

In [159]:
#Sort the Item_Identifier column
sales_prediction_df = sales_prediction_df.sort_values(by='Item_Identifier')
sales_prediction_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8043           DRA12        11.60  ...      Grocery Store           283.6308
118            DRA12        11.60  ...  Supermarket Type1          2552.6772
1693           DRA12        11.60  ...  Supermarket Type1           992.7078
1197           DRA12        11.60  ...  Supermarket Type1          3829.0158
1245           DRA12        11.60  ...  Supermarket Type1          2552.6772
...              ...          ...  ...                ...                ...
7926           NCZ54        14.65  ...  Supermarket Type1          7148.0288
214            NCZ54        14.65  ...      Grocery Store           324.9104
1896           NCZ54          NaN  ...  Supermarket Type3          5523.4768
7166           NCZ54          NaN  ...      Grocery Store           162.4552
7738           NCZ54        14.65  ...  Supermarket Type2          2599.2832

[8523 rows x 12 columns]

In [160]:
#Forward fill missing values in Item_Weight column
sales_prediction_df['Item_Weight'].fillna(method='ffill', inplace=True)
sales_prediction_df

#Sort was used to arrange the values in the Item_Identifier in order since each values has unique values in Item_Weight. Then forward fill was used to fill in the missing values

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8043           DRA12        11.60  ...      Grocery Store           283.6308
118            DRA12        11.60  ...  Supermarket Type1          2552.6772
1693           DRA12        11.60  ...  Supermarket Type1           992.7078
1197           DRA12        11.60  ...  Supermarket Type1          3829.0158
1245           DRA12        11.60  ...  Supermarket Type1          2552.6772
...              ...          ...  ...                ...                ...
7926           NCZ54        14.65  ...  Supermarket Type1          7148.0288
214            NCZ54        14.65  ...      Grocery Store           324.9104
1896           NCZ54        14.65  ...  Supermarket Type3          5523.4768
7166           NCZ54        14.65  ...      Grocery Store           162.4552
7738           NCZ54        14.65  ...  Supermarket Type2          2599.2832

[8523 rows x 12 columns]

In [161]:
#Check for the information again
sales_prediction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 8043 to 7738
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 865.6+ KB

In [162]:
#'Outlet_Size' column:
sales_prediction_df['Outlet_Size'].isnull().sum()

#NOTE: There are other aspects in the dataset which need to be cleaned. The cleaning shall be updated as the project proceeds

2410

In [163]:
#Obtain max for item weight
sales_prediction_df['Item_Weight'].max()

21.35

In [164]:
#Obtain min for item weight
sales_prediction_df['Item_Weight'].min()

4.555

In [166]:
#Obtain mean for item weight
sales_prediction_df['Item_Weight'].mean()

12.87171066525916

In [167]:
#Obtain max for MRP
sales_prediction_df['Item_MRP'].max()

266.8884

In [168]:
#Obtain min for MRP
sales_prediction_df['Item_MRP'].min()

31.29

In [170]:
#Obtain mean for MRP
sales_prediction_df['Item_MRP'].mean()

140.99278197817657